<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666364750426-m9lmrvepflshephhgqp9o2dkkh9jguuv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666364750426-m9lmrvepflshephhgqp9o2dkkh9jguuv</string>
	<key>API_KEY</key>
	<string>AIzaSyDH-pn92tto_t44imFZXimFS4U75H95C-w</string>
	<key>GCM_SENDER_ID</key>
	<string>666364750426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arrowmuse.businessCpu</string>
	<key>PROJECT_ID</key>
	<string>business-cpu-bf6e4</string>
	<key>STORAGE_BUCKET</key>
	<string>business-cpu-bf6e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666364750426:ios:54db9ed125b17692558663</string>
</dict>
</plist>